h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30.5px;
  letter-spacing: 0.04em;
  color: #ffffff; }

h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff; }

p {
  color: #061019;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  /* or 26px */
  letter-spacing: 0.0162em; }

.nav-primary {
  background-color: #3157D0;
  color: #ffffff;
  padding-top: 20px;
  width: 268px;
  height: 100vh; }

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important; }

h1.sidebar-heading {
  padding-left: 20px; }

h2.sidebar-subheading {
  padding-left: 0px; }

.nav-item-label {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px; }

.nav-item .nav-category {
  padding-left: 20px;
  padding-top: 10px; }

.navbar-nav .active {
  background-color: #007bff !important; }

.navbar-nav .nav-title {
  padding-left: 20px; }

.nav-item-primary-icon {
  padding-left: 20px; }

.nav-item-primary-label {
  padding-left: 44px; }

#menu-toggle {
  background-color: #3157D0 !important;
  border: none;
  padding-left: 20px;
  padding-bottom: 20px; }

#wrapper {
  visibility: visible; }

#wrapper.toggled {
  visibility: hidden; }

#page-content-wrapper {
  margin: 50px; }

.spectrum-analyzer {
  width: 100%;
  color: #061019; }

.spectrogram-analyzer {
  width: 100%;
  color: #061019;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center; }

.waveform-analyzer {
  width: 100%;
  color: #061019;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-content {
  margin: 30px;
  padding-top: 10px;
  width: 80%; }

wave {
  z-index: 3; }

#waveform {
  width: 100%; }

#wave-spectrogram {
  width: 100%; }

.primary-button {
  background-color: #3157D0;
  color: #ffffff;
  border: none;
  padding: 1rem 2.5rem 1rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 145%;
  /* or 26px */
  letter-spacing: 0.04em; }

.primary-button:hover {
  background-color: #007bff; }
